<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyect.moodle">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppClass.Docente.filtrar_horario"
            android:label="Filtrar Horario"></activity>
        <activity android:name=".AppClass.Decano.asignatura_gestiona" />
        <activity
            android:name=".AppClass.Decano.listado_clases"
            android:label="Listado Clases"/>
        <activity
            android:name=".AppClass.Decano.crear_horario"
            android:label="Nuevo Horario"/>
        <activity
            android:name=".AppClass.Docente.docente_gestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".AppClass.Decano.listar_asignaturas"
            android:label="Listado Asignaturas"/>
        <activity
            android:name=".AppClass.Decano.crear_asignatura"
            android:label="Crear Asignatura"/>
        <activity
            android:name=".AppClass.Decano.listado_docentes"
            android:label="Listado Docentes"/>
        <activity
            android:name=".AppClass.Decano.crear_docente"
            android:label="Crear Docente"/>
        <activity
            android:name=".AppClass.Decano.decano_gestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AppClass.Docente.clase_gestion" />
        <activity android:name=".AppClass.Docente.clase_activa" />
        <activity
            android:name=".AppClass.Docente.vista_dia"
            android:label="Horario del día"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>